
body { 
    background-color : #0d62a7; 
}

.main {
    width : 1060px;
    margin : 0 auto;

}

.head {
    width : 1060px;
    height : 110px;
    padding-bottom : 10px;
}

.menu {
    width : 100%;
    height : 45px;
    background :#1596fe;
}

.content {
    width : 1060px;
    overflow:hidden;
}
.box-search{
     width : 1060px;
     height : 110px;
     padding :10px 5px 5px 5px;
     margin : 0px 0px 15px 0px;
     /*background : #b3e0ff;*/
}
.box-search table{ 
    margin : auto;
    font-family:Arial;
    text-align:center;
}
.content-left {
    float : left;
    width : 750px;

}
/*Content - right*/
.content-right {
     float : right;
     width : 307px;
     /*border-left-width:1px;
     border-left-style:solid;
     border-left-color:#d7d7d7;*/
}
.box-right-title {
    padding : 7px 5px 7px 5px;
    color : #ffffff;
    font-family : Arial;
    background : #1596fe;
    width : 307px;
    text-align:center
}
/*End*/

.footer {
    width : 1060px;
    min-height : 73px;
    border-top-width:1px;
    border-top-style:solid;
    border-top-color:#d7d7d7;
    padding : 5px;
}
.footer p {
    font-family:Arial;
    text-align:center;
    padding:0px;
    margin:5px;
    color:#555;

}


#menu ul{
    list-style: none;
    font-family: Arial, san-serif;
    font-size: 13px;
    text-transform : uppercase;
    padding: 0;
    height: 35px;
    margin-left : 5px;
    
}
 
#menu ul li{
    float:left;
    position:relative;
}
 
#menu ul a{
    text-decoration:none;
    color:#fff;
    display:block;
    font-weight:bold;
    border-right : 1px solid white;
    padding:10px 24px;
    background:#1596fe;
}
 
#menu ul a:hover{
    background:#0d62a7;
}

#logo {
    margin-top:15px;
    float : left;

}

#head-top {
    text-align : right;
    tab-size : 10px;
    color:#808080;
    float:right;
    font-style : inherit;
    margin-right : 50px;
    margin-top : 10px;
}

.box-pro-home {
    width : 745px;
    min-height : 700px;
    /*border : 1px solid #808080;*/
}

.box-pro-news {
    width : 745px;
    /*border : 1px solid #808080;*/
}

.loaitour {
    font-family : Arial;
    text-transform : uppercase;
    color : #808080;
    font-weight:bold;
}

.item-pro-news {
    width : 745px;
    height : 175px;
    float : left;
    margin : 0px 3px 4px 4px;
}

.item-pro-home {
    width : 360px;
    height : 340px;
    float : left;
    margin : 0px 3px 4px 4px;
}

.box-image-pro-home {
    width : 358px;
    height : 200px;
    margin : 10px auto;
    position:relative;
}

#image
{    
    position:absolute;
    left:0;
    top:0;
}

#text
{
    z-index:100;
    position:absolute;    
    color:#ffffff;
    font-size:24px;
    font-weight:bold;
    left:15px;
    top:15px;
    background:#fb5050;
    width:90px;
    height:45px;
    padding-top:5px;
    text-align:center;
    border-radius:50%;
}

.box-image-pro-news {
    width : 278px;
    float:left;
    height : 160px;
    margin : 10px auto;
    position:relative;
}

.box-image-pro-news img {
    width : 268px;
    height : 150px;
    padding: 5px;
    box-shadow: 0 0 1px #aaa;
	-webkit-box-shadow: 0 0 1px #aaa;
	-moz-box-shadow: 0 0 1px #aaa;
	-o-box-shadow: 0 0 1px #aaa;
}

.box-image-pro-home img {
    width : 348px;
    height : 190px;
    padding: 5px;
    box-shadow: 0 0 1px #aaa;
	-webkit-box-shadow: 0 0 1px #aaa;
	-moz-box-shadow: 0 0 1px #aaa;
	-o-box-shadow: 0 0 1px #aaa;
}
/*.box-image-pro-home img:hover {
   border : 1px solid #1596fe;
}*/

.item-pro-home a {
    color : #0d62a7;
    text-transform: uppercase;
    text-decoration : none;
    font-family : Arial;
}

.item-pro-home a:hover {
    color : #1596fe;
}

.box-info-news {
    width : 407px;
    margin-top : 5px;
    float : left;
    padding : 0px 5px 5px 5px;
    color : #808080;
}

.box-info-news a {
    font-size: 120%;
    padding-left : 5px;
    font-family:Arial;
    text-decoration:none;
    color : #0d62a7;
}

.box-info-news a:hover {
    padding-left : 5px;
    text-decoration:none;
}


.box-info-news p{
    margin : 5px;
    padding : 0px;
}

.box-info-item {
    margin-top : 3px;
    float : left;
    padding : 0px 5px 5px 5px;
   
}


.box-info-item p{
    margin : 0px;
    padding : 0px;
}

.box-text-button {
    margin-top : 50px;
    float : right;
    margin-right : 15px;
}

.box-text-button a {
    color : #ffffff;
    padding : 5px 20px;
}

.box-text-button a:hover {
    color : #ffffff;
    padding : 5px 20px;
}

.box-text-button-title {
    margin : 0px 0px 0px 5px;
    padding : 7px 7px 7px 10px;
    color : #ffffff;
    font-family : Arial;
    background : #1596fe;
    width : 200px;
}

.detailtour-box-info {
    min-height : 200px; 
    padding : 10px 10px 10px 45px;
}

.detailtour-box-info img {
    height : 170px; 
    width : 170px;
    float :left;
    background : #aaa;
}

.detailtour-box-info-text {
     height : 170px; 
     padding-top : 10px;
     width : 500px;
     float : right;
   
}

.detailtour-box-info-text p {
    margin : 0;
    padding : 2px;
}


.column {
	margin: 0;
	padding: 0;
}
.column:last-child {
	padding-bottom: 60px;
}
.column::after {
	content: '';
	clear: both;
	display: block;
}
.column div {
	position: relative;
	float: left;
	width: 348px;
	height: 150px;
	margin: 0 0 0 25px;
	padding: 0;
}
.column div:first-child {
	margin-left: 0;
}
.column div span {
	position: absolute;
	bottom: -20px;
	left: 0;
	z-index: -1;
	display: block;
	width: 348px;
	margin: 0;
	padding: 0;
	color: #444;
	font-size: 18px;
	text-decoration: none;
	text-align: center;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	opacity: 0;
}
figure {
	width: 348px;
	height: 200px;
	margin: 0;
	padding: 0;
	background: #fff;
	overflow: hidden;
}
figure:hover+span {
	bottom: -36px;
	opacity: 1;
}


/* Flashing */
.hover13 figure:hover img {
	opacity: 1;
	-webkit-animation: flash 1.5s;
	animation: flash 1.5s;
}
@-webkit-keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}
@keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}

/* Shine */
.hover14 figure {
	position: relative;
}
.hover14 figure::before {
	position: absolute;
	top: 0;
	left: -75%;
	z-index: 2;
	display: block;
	content: '';
	width: 50%;
	height: 100%;
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	-webkit-transform: skewX(-25deg);
	transform: skewX(-25deg);
}
.hover14 figure:hover::before {
	-webkit-animation: shine .75s;
	animation: shine .75s;
}
@-webkit-keyframes shine {
	100% {
		left: 125%;
	}
}
@keyframes shine {
	100% {
		left: 125%;
	}
}

/* Circle */
.hover15 figure {
	position: relative;
}
.hover15 figure::before {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 2;
	display: block;
	content: '';
	width: 0;
	height: 0;
	background: rgba(255,255,255,.2);
	border-radius: 100%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	opacity: 0;
}
.hover15 figure:hover::before {
	-webkit-animation: circle .75s;
	animation: circle .75s;
}
@-webkit-keyframes circle {
	0% {
		opacity: 1;
	}
	40% {
		opacity: 1;
	}
	100% {
		width: 200%;
		height: 200%;
		opacity: 0;
	}
}
@keyframes circle {
	0% {
		opacity: 1;
	}
	40% {
		opacity: 1;
	}
	100% {
		width: 200%;
		height: 200%;
		opacity: 0;
	}
}