

    <table width="320" border="0" style="border-left-width: 1px; border-left-style: solid; border-left-color: #d7d7d7;">
        <tr style="background:#0094ff;color:#ffffff; height:30px">
            <td colspan="2" align="center">HỖ TRỢ TRỰC TUYẾN</td>
        </tr>
        <tr style="height:40px">
       
            <td width="110px" style="padding-left:20px;font-family:Arial;"><span class="label label-default">Kinh doanh</span></td>
            <td>
                <img style="width:20px; height:20px" src="/Images/skype.png" /> DuongViThuy
            </td>
        </tr>
        <tr style="height:30px">

            <td width="110px" style="padding-left:20px;font-family:Arial;"></td>
            <td>
                <img style="width:20px; height:20px" src="/Images/phone.png" /> 098.888.888
            </td>
        </tr>
        <tr style="height:40px">
            <td style="padding-left: 20px; font-family: Arial;"><span class="label label-default">Tư vấn</span></td>

            <td><img style="width:20px; height:20px" src="/Images/skype.png" /> suport_01</td>
        </tr>
        <tr style="height:30px">
            <td></td>
            <td><img style="width:20px; height:20px" src="/Images/phone.png" /> 098.999.999</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
        </tr>
    </table>