@{
    ViewBag.Title = "Giới thiệu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 style="color:#ff6a00">GIỚI THIỆU</h3>
<legend></legend>
<center><img src="/Images/logo.png" /></center>
<div>
<span style="font-size:14px;"><strong style="line-height: 1.6;">Kính thưa Quý khách,</strong></span></div>

<div class="rtejustify">
    <span style="font-size:14px;">
        <strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Công ty Lữ hành Duongtourist</strong> – Tổng Công ty Du lịch Hà Nội xin gửi tới Quý khách lời chào trân trọng và lời chúc sức khỏe, hạnh phúc, an khang - thịnh vượng!<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Tổng Công ty Du lịch Hà Nội là doanh nghiệp nhà nước có vị thế hàng đầu trong các lĩnh vực: kinh doanh lữ hành quốc tế, khách sạn, nhà hàng, vận chuyển,&nbsp; xuất khẩu lao động… &nbsp;với hơn 50 năm xây dựng và trưởng thành, Công ty Lữ hành Duongtourist nhiều năm liền đạt danh hiệu “Top ten Lữ hành quốc tế” của Tổng cục Du lịch và hạng A1 “Top five” trong số ít các công ty lữ hành có số lượng khách Việt Nam đi nước ngoài đông nhất của hãng Hàng không Quốc gia Việt Nam (Vietnamairlines)…<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Trong xu thế hội nhập, để không ngừng đáp ứng nhu cầu tham quan, học tập, khảo sát, tham dự hội chợ, triển lãm, hội thảo, giao lưu và hợp tác ngày càng cao của Quý khách, với phương châm <strong>“Tất cả vì sự hài lòng của khách hàng”,</strong> chúng tôi xin trân trọng giới thiệu tới Quý khách các chương trình <strong>“Vòng quanh Thế giới” và "Đất nước muôn màu". </strong><br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Hy vọng rằng, đây sẽ là những thông tin bổ ích và thiết thực về các sản phẩm du lịch tiêu biểu và hấp dẫn đến hấu hết các thắng cảnh của Tổ quốc và các quốc gia trên thế giới mà công ty chúng tôi đã và đang thực hiện rất thành công.<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Hãy đến với chúng tôi để được <strong>“thỏa mãn ước mơ du lịch - khám phá năm châu bốn biển”.</strong><br>
        <strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Công ty Lữ hành Duongtourist</strong> - Tổng Công ty Du lịch Hà Nội rất hân hạnh được nồng nhiệt chào đón và đồng hành cùng Quý khách. &nbsp;&nbsp;&nbsp;&nbsp;
    </span>
</div>

<div class="rteright">&nbsp;</div>

<div class="rtecenter">
    <span style="font-size:14px;">
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Trân trọng!<br>
        <br>
        <strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Vi Thùy Dương</strong><br>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Giám đốc<br>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Công ty Lữ hành Duongtourist
    </span><br>
    <br>
</div>